.tw-followCard {
    display: flex;
    align-items: center;
    color: white;
    font-size: .8rem;
    justify-content: space-between;
    margin: 5px;
}

.tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-textBlock{
    display: flex;
    flex-direction: column;
}

.tw-followCard-user{
  opacity: .6;  
}

.tw-followCard-image{
    width: 48px;
    height: 48px;
    border-radius: 100px;
}

.tw-followCard-button{
    margin-left: 16px;
    border: 1px solid black;
    border-radius: 100px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease background-color;

}

.tw-followCard-button.is-following{
    border: 1px solid gray;
    background: transparent;
    color: white;
    width: 120px;
}

.tw-followCard-text{
    display: block;
}

.tw-followCard-button:hover{
    background-color: deepskyblue;
}

.tw-followCard-button.is-following:hover{
    background: rgb(133, 62, 62);
    color: white;
    
}

.tw-followCard-button.is-following:hover .tw-followCard-text{
    display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
    display: block;
}

.tw-followCard-stopFollow{
    display: none;
}